body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: antiquewhite;
}

h1 {
    text-align: center;
    color: rgb(15, 118, 228);
}

.picture {
    width: 500px;
    height: auto;
}

h2 {
    color: rgb(238, 36, 110);
}