* {
    margin: 0;
    padding: 0;
}
body {
    background-color: antiquewhite;
}

.heading {
    background-color: #84e6e8;
    padding: 10px 80px 80px 80px;
    width: 1500px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    font-size: 35px;
    box-sizing: border-box;
    border-radius: 30px;
}

.recipes a {
    color: black;
    background-color: #fff;
    padding: 10px;
    margin: 5px;
    display: inline-block;
}


/* * {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}

h1 {
    text-align: center;
    font-size: 50px;
    width: 1000px;
    color: rgb(235, 62, 105);
    background-color: #f5f6ea;
    padding: 50px;
    margin: 10px auto;
}

.recipe1,
.recipe2,
.recipe3 {
    color: rgb(238, 36, 110);
    padding: 10px;
    display: inline-block;
    border: 2px solid;
    background-color: #f5f6ea;
    margin: 5px;
} */